// Variables

$border-color: #fbd24f;
$border: 4px solid $border-color;
$bg-color: rgb(218, 171, 18);
$text-color: rgb(107, 90, 36);

// Global

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}

// - Links

a, a:hover {
  color: black;
  text-decoration: none;
}

// - Content Tab
#content-tab {
  height: calc(100vh - 200px);
  background: url("../images/body.jpg") center no-repeat;
  background-size: cover;
  padding-top: 30px;
}

#content {
  // width: 90%; // Removed b/c gw
  // height: 95%;
  // margin: 0 auto;
  height: 100%;
  background: rgba(255, 255, 255, 0.781) content-box;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: black;
}

.gw {
  position: relative;

  width: 90%;
  height: 95%;
  margin: 0 auto;
}

#content::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

// Typography

.title {
  font-size: 50px;
  padding-bottom: 20px;
}

.title::after {
  content: '';
  display: block;
  width: 60%;
  border-bottom: 5px solid $bg-color;
  margin: 5px auto;
}

.subtitle {
  font-size: 30px;
}

.contact-type, .emphasis {
  font-size: 20px;
}

.title, .subtitle, .contact-type, .emphasis {
  color: $text-color;
  font-family: 'Gloria Hallelujah', cursive;
}

// Misc 

.info div {
  padding-bottom: 10px;
}


// Page

.page {
  padding: 20px;
  text-align: center;
  height: 100%;
}

// Github Link

.github {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 20;
  bottom: -18px;
  right: -18px;
  background-color: red;
  border-radius: 50%;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 15px;
  text-align: center;
  color: white;
  padding-top: 15px;
}



@media(max-width: 899.99px) {
  #content-tab {
    height: calc(100vh - 150px);
    background-position: 80%;
  }
}

@media(max-width: 559.99px) {
  #content-tab {
    height: calc(100vh - 80px);
  }
  .contact-type {
    display: block;
    padding-bottom: 5px;
  }
}